.footer-image-wrapper .cls-1 {
  fill: #0c4499;
}

.footer-image-wrapper .cls-2 {
  fill: #fed036;
}

.footer-image-wrapper .cls-3 {
  fill: #f2af34;
}

.footer-image-wrapper .cls-4 {
  fill: #136ffb;
}

.footer-image-wrapper .cls-5 {
  fill: #c1edfe;
}

.footer-image-wrapper .cls-6 {
  fill: #fff;
}

.footer-image-wrapper .cls-7 {
  fill: #bfecff;
}

.footer-image-wrapper .cls-8 {
  fill: #006aff;
}

.footer-image-wrapper .cls-9 {
  fill: #c1e8fa;
}

.footer-image-wrapper .cls-10 {
  fill: #194995;
}
.footer-image-wrapper .cls-11 {
  fill: #c0e7fa;
}